html {
    scroll-behavior: smooth;
 }

 @media all and (min-width: 992px) {
    .navbar .has-megamenu {
       position: static !important;
    }

    .navbar .megamenu {
       left: 0;
       right: 0;
       width: 100%;
       padding: 20px;
    }

    .navbar .nav-link {
       padding-top: 1rem;
       padding-bottom: 1rem;
    }
 }

 .heading-navbar {
    color: black;
 }

 .col-md-navbar {
    padding-left: 7%;
    padding-right: 7%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%
 }

 .carousel-pic {
    width: 120px;
    height: 90px;
 }

 .container-search {
    max-width: 600px;
    margin: 50px auto
 }

 input {
    outline: none;
 }

 input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
 }

 input::-webkit-search-decoration,
 input::-webkit-search-cancel-button {
    display: none;
 }

 input[type=search] {
    background: #ff8637 url('https://img-cdn.fivemods.net/unsafe/16x16/filters:format(webp):quality(100)/https://www.fivemods.net/static-assets/img/search-16x16.png') no-repeat 9px center;
    padding: 9px 10px 9px 12px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
 }

 input[type=search]:focus {
    width: 130px;
 }


 input:-moz-placeholder {
    color: #999;
 }

 input::-webkit-input-placeholder {
    color: #999;
 }

 /* Demo 2 */
 #demo-2 input[type=search] {
    width: 15px;
    height: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
 }

 #demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: white;
    cursor: auto;
 }

 #demo-2 input:-moz-placeholder {
    color: transparent;
 }

 #demo-2 input::-webkit-input-placeholder {
    color: transparent;
 }

 .smallButton {
    margin-left: 25px;
 }

 .profile {
    color: black;
 }

 .space-16 {
    letter-spacing: 16px;
 }

 .center {
    text-align: center;
 }

 .cover {
    /* width: 348px; */
    height: 196px;
    object-fit: cover;
 }

 .cover-sm {
    /* width: 253px; */
    height: 143px;
    object-fit: cover;
 }

 .cover-cat {
    width: fit-content;
    height: 217px;
    object-fit: cover;
 }

 body::-webkit-scrollbar {
    width: .5rem;
 }

 body::-webkit-scrollbar-track {
    background: #17141f;
 }

 body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
 }

 .bg {
    background: url('https://img-cdn.fivemods.net/unsafe/filters:format(webp):quality(100)/https://www.fivemods.net/static-assets/img/background/icon_bg_multi_lighter.png');
    background-repeat: repeat;
    background-size: 75%;
 }

 .f-bg-dark {
    background: url('/static-assets/img/background/icon_bg_dark_darkest.png');
    /* background: url('https://img-cdn.fivemods.net/unsafe/filters:format(webp):quality(100)/https://www.fivemods.net/static-assets/img/background/icon_bg_dark_darkest.png'); */
    background-repeat: repeat;
    background-size: 75%;
 }

 .f-bg-dark-login {
    background: url('/static-assets/img/background/icon_bg_dark_darker.png');
    /* background: url('https://img-cdn.fivemods.net/unsafe/filters:format(webp):quality(100)/https://www.fivemods.net/static-assets/img/background/icon_bg_dark_darkest.png'); */
    background-repeat: repeat;
    background-size: 200%;
 }

 .shadow1 {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
 }

 #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #E57C0B;
    color: white;
    cursor: pointer;
    border-radius: 4px;
 }

 #myBtn:hover {
    background-color: #17141F;
 }

 #leftBasedAds {
    left: 0px;
    position: fixed;
    text-align: center;
    top: 0px;
    z-index: -100;
 }

 #leftBasedAds {
    right: 0px;
    position: fixed;
    text-align: center;
    top: 0px;
    z-index: -100;
 }

 .fst {
    font-size: 8px;
    color: gray;
    line-height: -50px;
    display: block;
 }

 .vr {
    display: inline;
    height: 100%;
    width: 1px;
    border: 1px inset;
    margin: 5px;
    background-color: #605f62;
    color: #605f62;
 }

 .emp-login {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.6);
    /* opacity: 0.6; */
 }

 form {
    margin-block-end: 0em !important;
 }

 #preloader {
    position: fixed;
    background: #17141F;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;

 }
 
 #preloader::-webkit-scrollbar {
    display: none; 
    overflow: hidden;
 }

 .ymA4Y {
   font-family: arial,sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.2px;
   color: #70757a;
   white-space: normal;
   text-align: left;
 }

 .baqlu {
   text-align: center;
   text-transform: none;
   color: #202124;
   font-family: arial,sans-serif;
   font-size: 24px;
   font-weight: 400;
   letter-spacing: 0;
   margin: 24px auto 18px auto;
   padding: 0 20px;
 }
